@model IndexTaskViewModel   

@{
    ViewData["Title"] = "Home";
}

<div class="container">
    @if (TempData.ContainsKey("Message"))
    {
        var message = (Dictionary<string, string>?)TempData["Message"];
        if (message is not null)
        {
            <div class="alert alert-@message["Class"] alert-dismissible fade show fw-bold border-radius-20" role="alert">
                <strong>@message["Text"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    }
    <div class="block row flex-column">
        <div class="col h-100">
            <form method="post" asp-controller="Task" asp-action="Create" class="h-100 border-radius-20 p-3 index-form mb-3 mt-3">
                <div class="h-100 row flex-column justify-content-center align-items-center">
                    <div class="col">
                        <div class="mb-3">
                            <input  placeholder="New task..." type="text" asp-for="CreateTaskViewModel.Description" class="form-control border-radius-20 fw-bold" id="inputTask">
                            <span asp-validation-for="CreateTaskViewModel.Description" class="text-danger fw-bold"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CreateTaskViewModel.DueDate" class="form-label ms-2 fw-bold">Choose due date:</label>
                            <input type="datetime-local" asp-for="CreateTaskViewModel.DueDate" class="form-control border-radius-20 fw-bold pointer" id="inputDueDate">
                            <span asp-validation-for="CreateTaskViewModel.DueDate" class="text-danger fw-bold"></span>
                        </div>
                        <div class="mb-3">
                            <select asp-for="CreateTaskViewModel.CategoryId" asp-items="@Model.CategoriesSelect" class="form-control border-radius-20 pointer fw-bold">
                                <option selected disabled>Select a category</option>
                            </select>
                            <span asp-validation-for="CreateTaskViewModel.CategoryId" class="text-danger fw-bold"></span>
                        </div>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary w-100 border-radius-20 fw-bold">Add task</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col h-100">
            <form method="post" asp-controller="Category" asp-action="Create" class="h-100 border-radius-20 p-3 index-form mb-5 mt-3">
                <div class="row flex-column justify-content-center align-items-center">
                    <div class="col" >
                        <div class="mb-3">
                            <input placeholder="New category..." type="text" asp-for="CreateCategoryViewModel.Name" class="form-control border-radius-20 fw-bold" id="inputCategoryName">
                            <span asp-validation-for="CreateCategoryViewModel.Name" class="text-danger fw-bold"></span>
                        </div>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary w-100 border-radius-20 fw-bold">Add category</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="block pb-3">
        @if (!Model.Tasks.Any())
        {
            <div class="h1 fw-bold ps-3">No tasks found</div>
        }
        else
        {
            <div class="h1 mb-2 fw-bold ps-3">Your tasks</div>
            <ul class="list-group border-radius-20 gap-3 tasks">
                @foreach (var task in Model.Tasks)
                {
                    <li class="list-group-item d-flex border-radius-20 justify-content-between align-items-center w-100 p-3">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <form method="post" class="isCheckedForm d-flex justify-content-center align-items-center" asp-controller="Task" asp-action="EditIsComplete" style="margin-bottom: -2px;">
                                <input type="hidden" asp-for="EditIsCompletedTaskViewModel.Id" value="@task.Id" />
                                <input class="isCheckedInput mt-0 form-check-input" type="checkbox" checked="@task.IsCompleted" asp-for="EditIsCompletedTaskViewModel.IsCompleted" />
                                <button class="btn btn-primary ms-2 ps-2 pt-1 pb-1 pe-2 fw-bold border-radius-20" type="submit"><small>Save</small></button>
                            </form>
                            <div class="d-flex align-items-center">
                                <div class="fw-bold">
                                    @task.Description
                                </div>
                            </div>
							<div class="d-flex align-items-center gap-3">
                                <span class="badge border-radius-20 bg-secondary rounded-pill ms-2">Category: @(task.Category is null ? "No category" : task.Category.Name)</span>
                                <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                                    @if (@task.DueDate <= DateTime.Now)
                                    {
                                        <span class="badge border-radius-20 bg-danger rounded-pill ms-2">Due Date: @task.DueDate</span>
                                    }
                                    else
                                    {
                                        <span class="badge border-radius-20 bg-primary rounded-pill ms-2">Due Date: @task.DueDate</span>
                                    }
                                    <span class="badge border-radius-20 bg-primary rounded-pill ms-2">Date of creation: @task.DateOfCreation</span>
                                </div>
                                <form method="post" asp-action="Delete" asp-controller="Task">
                                    <input type="hidden" asp-for="DeleteTaskViewModel.Id" value="@task.Id" />
                                    <button type="submit" class="btn btn-danger border-radius-20 fw-bold">Delete</button>
                                </form>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
</div>

